<h1>
    Login
</h1>
<% if flash[:error] %>
    <div class="alert"><%= flash[:error] %></div>
<% end %>
<% if flash[:loginError] %>
<p><h3><%= flash[:loginError]%></h3></p>
<% end %>
<%= form_tag '/login',class: "login", method: "post" do %>
<div class="divTable">
    <div class="divRow">
        <div class="divCell">Email:</div>
        <div class="divCell"><%= text_field_tag :email %></div>
    </div>
    <div class="divRow">
        <div class="divCell">Password:</div>
        <div class="divCell"><%= password_field_tag :password, '', :class=>"txt-password"%></div>
    </div>
    <%= submit_tag "Log In" %>
</div>
<%= link_to "Sign up", new_users_path, :class => "btn-signup" %>
<% end %>
