<h1>Sign up</h1>
<% if flash[:signuperror] %>
    <div class="signup-alert"><%= flash[:signuperror]["message"].join(', ') %></div>
<% end %>
<div id="content">
    <%= form_for :user, url: '/users', method: "post" do |f| %>
    <div class="divTable">
        <div class="divRow">
            <div class="divCell">Name:</div>
            <div class="divCell"><%= f.text_field :name %></div>
        </div>
        <div class="divRow">
            <div class="divCell">Email:</div>
            <div class="divCell"><%= f.text_field :email %></div>
        </div>
        <div class="divRow">
            <div class="divCell">Password:</div>
            <div class="divCell"><%= f.password_field :password %></div>
        </div>
        <div class="divRow">
            <div class="divCell">Password Confirmation:</div>
            <div class="divCell"><%= f.password_field :password_confirmation %></div>
        </div>
        <%= f.submit "Sign up" %>
    </div>
    <% end %>
</div>
<%= link_to "Login", login_path, :class => "btn-signup" %>
