<h1>Update contact</h1>
<%= form_for @contact, method: :patch do |f| %>
<div class="divTable">
    <div class="divRow">
        <div class="divCell">First Name:</div>
        <div class="divCell"><%= f.text_field :first_name %></div>
    </div>
    <div class="divRow">
        <div class="divCell">Last Name:</div>
        <div class="divCell"><%= f.text_field :last_name %></div>
    </div>
    <div class="divRow">
        <div class="divCell">Email:</div>
        <div class="divCell"><%= f.text_field :email %></div>
    </div>
    <div class="divRow">
        <div class="divCell">Email:</div>
        <div class="divCell"><%= f.text_field :phone_mobile %></div>
    </div>
    <%= f.submit("Update Contact") %>
</div>
<% end %>
