
<div class="nav">
    <ul class="navbar-nav navbar-right">
      <li></li>
        <li id="leagu"><a href="#">Team</a></li>
        <li id="team"><a href="#">League</a></li>
        <li id="season"><a href="#">Soccer Season</a></li>
        <li id="#"><a href="#">Logout</a></li>
    </ul>
  </div>

<div class='leagu'>
    <h3><%= @premier_league['leagueCaption']%></h3>
    <table>
      <tr><th>Position</th><th>Team Name</th>
        <th>Played Games</th><th>Points</th>
        <th>Goals</th><th>Goals Against</th>
        <th>Goal Difference</th><th>Played Games</th>
        <th>Draws</th><th>Losses</th>
      </tr>
<% 20.times do |i| %>
  <tr>
    <td><%= @premier_league['standing'][i]['position']%></td>
    <td><%= @premier_league['standing'][i]['teamName'] %></td>
    <td><%= @premier_league['standing'][i]['playedGames'] %></td>
    <td><%= @premier_league['standing'][i]['points']%></td>
    <td><%= @premier_league['standing'][i]['goals'] %></td>
    <td><%= @premier_league['standing'][i]['goalsAgainst']%></td>
    <td><%= @premier_league['standing'][i]['goalDifference'] %></td>
    <td><%= @premier_league['standing'][i]['playedGames'] %></td>
    <td><%= @premier_league['standing'][i]['draws']%></td>
    <td><%= @premier_league['standing'][i]['losses'] %></td>
  </tr>
<% end %>
</table>
</div>

<div class="team">
  <table>
    <tr><th>Team Name</th><th>Team Code</th>
      <th>Short Name</th><th>Squad Market Value</th>
      <th>Team Logo</th>
    </tr>
  <%= @teams["count"].to_i.times do |i| %>
  <tr>
    <td><%= @teams["teams"][i]["name"]%></td>
    <td><%= @teams["teams"][i]["code"]%></td>
    <td><%= @teams["teams"][i]["shortName"]%></td>
    <td><%= @teams["teams"][i]["squadMarketValue"]%></td>
   <td><img class="thumbnail" src="<%= @teams["teams"][i]["crestUrl"]%>" alt=""></td>
 </tr>
  <% end %>
</table>
</div>

<div class="soccer-season">
  <table>
    <tr><th>Caption</th><th>Number of Match days</th>
      <th>Number of Teams</th><th>Number of Games</th>
      <th>Year</th>
    </tr>
 <%10.times do |i|%>
<tr>
    <td><%=@soccer_season[i]["caption"] %></td>
    <td><%=@soccer_season[i]["numberOfMatchdays"] %></td>
    <td><%=@soccer_season[i]["numberOfTeams"] %></td>
    <td><%=@soccer_season[i]["numberOfGames"] %></td>
    <td><%=@soccer_season[i]["year"] %></td>
</tr>
<% end %>
</table>
</div>
