<!--check if the user is loged in if not display message and redirect to login form -->
<% if session[:user_id].nil?%>
<%flash[:error] = "Please login or signup"%>
<%= form_tag '/login' do%>
<% if flash[:error] %>
<p><h3><%= flash[:error]%></h3></p>
<% end %>
<% if flash[:message]%>
<p><%= flash[:message]%></p>
<% end %>
<!--the login form  -->
<div class="divTable">
    <div class="divRow">
        <div class="divCell">Email:</div>
        <div class="divCell"><%= text_field_tag :email %></div>
    </div>
    <div class="divRow">
        <div class="divCell">Password:</div>
        <div class="divCell"><%= password_field_tag :password, '', :class=>"txt-password"%></div>
    </div>
    <%= submit_tag "Log In" %>
</div>
<%= link_to "Sign up", new_users_path, :class => "btn-signup" %>
<% end %>
<% else %>
<!-- authenticated users will come up to here  -->
<br>
<h3>Hi
    <%= current_user.name%>
    you are logged in!</h3>
<!--This buttons enables the user to navigate to different
  generic services from the API -->
<div class="nav-top">
    <button id="leagu" type="submit">Table</button>
    <button id="team" type="submit">Teams</button>
    <button id="season" type="submit">Seasons</button>
    <button id="fixtures" type="submit">Fixture</button>
</div>
<!--This buttons enable the user to navigate to differnet
specific team level services from the API-->
<div class="top-four">
    <button id="leicester" type="submit">Leicester City</button>
    <button id="arsenal" type="submit">Arsenal</button>
    <button id="tottenham" type="submit">Tottenham Hotspur</button>
    <button id="man-city" type="submit">Manchester City</button>
</div>
<!--This division iterates through the fixure data of Leicester city
football club from the API  -->
<div class='leicester-fixtures'>
    <table>
      <tr>
          <th colspan="4">
              <h3>Leicester City FC fixtures</h3>
          </th>
          <th colspan="4">
              <img class="thumbnail" src="<%= @leicester_logo["crestUrl"]%>" alt="">
          </th>
      </tr>
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Matchday</th>
            <th>Home team name</th>
            <th>Away team name</th>
            <th>Home team result</th>
            <th>Away team result</th>
        </tr>
        <% @leicester["count"].to_i.times do |i|%>
        <tr>
            <td><%= @leicester['fixtures'][i]['date']%></td>
            <td><%= @leicester['fixtures'][i]['status'] %></td>
            <td><%= @leicester['fixtures'][i]['matchday'] %></td>
            <td><%= @leicester['fixtures'][i]['homeTeamName'] %></td>
            <td><%= @leicester['fixtures'][i]['awayTeamName']%></td>
            <td><%= @leicester['fixtures'][i]['result']['goalsHomeTeam'] %></td>
            <td><%= @leicester['fixtures'][i]['result']['goalsAwayTeam']%></td>
        </tr>
        <% end %>
    </table>
</div>
<!--This division iterates through the fixure data of Arsenal
football club from the API  -->
<div class='arsenal-fixtures'>
    <table>
        <tr>
            <th colspan="4">
                <h3>Arsenal FC fixtures</h3>
            </th>
            <th colspan="4">
                <img class="thumbnail" src="<%= @arsenal_logo["crestUrl"]%>" alt="">
            </th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Matchday</th>
            <th>Home team name</th>
            <th>Away team name</th>
            <th>Home team result</th>
            <th>Away team result</th>
        </tr>
        <% @arsenal["count"].to_i.times do |i|%>
        <tr>
            <td><%= @arsenal['fixtures'][i]['date']%></td>
            <td><%= @arsenal['fixtures'][i]['status'] %></td>
            <td><%= @arsenal['fixtures'][i]['matchday'] %></td>
            <td><%= @arsenal['fixtures'][i]['homeTeamName'] %></td>
            <td><%= @arsenal['fixtures'][i]['awayTeamName']%></td>
            <td><%= @arsenal['fixtures'][i]['result']['goalsHomeTeam'] %></td>
            <td><%= @arsenal['fixtures'][i]['result']['goalsAwayTeam']%></td>
        </tr>
        <% end %>
    </table>
</div>
<!--This division iterates through the fixure data of Tottenham hotspur
football club from the API  -->
<div class='tottenham-fixtures'>
    <table>
        <tr>
            <th colspan="4">
                <h3>Tottenham Hotspur FC fixtures</h3>
            </th>
            <th colspan="4">
                <img class="thumbnail" src="<%= @tottenham_logo["crestUrl"]%>" alt="">
            </th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Matchday</th>
            <th>Home team name</th>
            <th>Away team name</th>
            <th>Home team result</th>
            <th>Away team result</th>
        </tr>
        <% @tottenham["count"].to_i.times do |i|%>
        <tr>
            <td><%= @tottenham['fixtures'][i]['date']%></td>
            <td><%= @tottenham['fixtures'][i]['status'] %></td>
            <td><%= @tottenham['fixtures'][i]['matchday'] %></td>
            <td><%= @tottenham['fixtures'][i]['homeTeamName'] %></td>
            <td><%= @tottenham['fixtures'][i]['awayTeamName']%></td>
            <td><%= @tottenham['fixtures'][i]['result']['goalsHomeTeam'] %></td>
            <td><%= @tottenham['fixtures'][i]['result']['goalsAwayTeam']%></td>
        </tr>
        <% end %>
    </table>
</div>
<!--This division iterates through the fixure data of Manchister city
football club from the API  -->
<div class='man-city-fixtures'>
    <table>
        <tr>
            <th colspan="4">
                <h3>Manchester city FC fixtures</h3>
            </th>
            <th colspan="4">
                <img class="thumbnail" src="<%= @man_city_logo["crestUrl"]%>" alt="">
            </th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Matchday</th>
            <th>Home team name</th>
            <th>Away team name</th>
            <th>Home team result</th>
            <th>Away team result</th>
        </tr>
        <% @man_city_fixture["count"].to_i.times do |i|%>
        <tr>
            <td><%= @man_city_fixture['fixtures'][i]['date']%></td>
            <td><%= @man_city_fixture['fixtures'][i]['status'] %></td>
            <td><%= @man_city_fixture['fixtures'][i]['matchday'] %></td>
            <td><%= @man_city_fixture['fixtures'][i]['homeTeamName'] %></td>
            <td><%= @man_city_fixture['fixtures'][i]['awayTeamName']%></td>
            <td><%= @man_city_fixture['fixtures'][i]['result']['goalsHomeTeam'] %></td>
            <td><%= @man_city_fixture['fixtures'][i]['result']['goalsAwayTeam']%></td>
        </tr>
        <% end %>
    </table>
</div>
<!--This division iterates through the table of the english premier league data
 from the API  -->
<div class='leagu'>
      <table>
      <tr>
        <th colspan="10">
          <h3><%= @premier_league['leagueCaption']%></h3>
        </th>
      </tr>
        <tr>
            <th>Position</th>
            <th>Team Name</th>
            <th>Played Games</th>
            <th>Points</th>
            <th>Goals</th>
            <th>Goals Against</th>
            <th>Goal Difference</th>
            <th>Played Games</th>
            <th>Draws</th>
            <th>Losses</th>
        </tr>
        <% 20.times do |i| %>
        <tr>
            <td><%= @premier_league['standing'][i]['position']%></td>
            <td><%= @premier_league['standing'][i]['teamName'] %></td>
            <td><%= @premier_league['standing'][i]['playedGames'] %></td>
            <td><%= @premier_league['standing'][i]['points']%></td>
            <td><%= @premier_league['standing'][i]['goals'] %></td>
            <td><%= @premier_league['standing'][i]['goalsAgainst']%></td>
            <td><%= @premier_league['standing'][i]['goalDifference'] %></td>
            <td><%= @premier_league['standing'][i]['playedGames'] %></td>
            <td><%= @premier_league['standing'][i]['draws']%></td>
            <td><%= @premier_league['standing'][i]['losses'] %></td>
        </tr>
        <% end %>
    </table>
</div>
<!--This division iterates through teams in the english premier league
that have more detail of each football club from the API  -->
<div class="team">
    <table>
        <tr>
          <th colspan="6">
            <h3>Teams detail</h3>
          </th>

        </tr>
        <tr>
            <th>Team Name</th>
            <th>Team Code</th>
            <th>Short Name</th>
            <th>Squad Market Value</th>
            <th>Team Logo</th>
            <th  id="xx">Premier Leagu</th>
        </tr>
        <% @teams["count"].to_i.times do |i| %>
        <tr>
            <td><%= @teams["teams"][i]["name"]%></td>
            <td><%= @teams["teams"][i]["code"]%></td>
            <td><%= @teams["teams"][i]["shortName"]%></td>
            <td><%= @teams["teams"][i]["squadMarketValue"]%></td>
            <td><img class="thumbnail" src="<%= @teams["teams"][i]["crestUrl"]%>" alt=""></td>
            <td></td>
        </tr>
        <% end %>
    </table>
</div>
<!--This division iterates through all the soccer seasons in Europe
 from the API  -->

<div class="soccer-season">
    <table>
        <tr>
          <th colspan="6">
            <h3>Leagues and Stats</h3>
          </th>
        </tr>
        <tr>
            <th>Caption</th>
            <th>Number of Match days</th>
            <th>Number of Teams</th>
            <th>Number of Games</th>
            <th>Year</th>
            <th id="xx">Premier Leagu</th>
        </tr>
        <%10.times do |i|%>
        <tr>
            <td><%=@soccer_season[i]["caption"] %></td>
            <td><%=@soccer_season[i]["numberOfMatchdays"] %></td>
            <td><%=@soccer_season[i]["numberOfTeams"] %></td>
            <td><%=@soccer_season[i]["numberOfGames"] %></td>
            <td><%=@soccer_season[i]["year"] %></td>
            <td></td>
        </tr>
        <% end %>
    </table>
</div>
<!--This division iterates through the players detail fo Leicester
football club from the API  -->

<div class="players-detail-leicester">
    <table>
        <tr>
          <th colspan="7">
            <h3>Leicester City FC Players and their position</h3>
          </th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Jersy Number</th>
            <th>Date of Birth</th>
            <th>Nationality</th>
            <th>Contract Until</th>
            <th>Market Value</th>
        </tr>
        <% @leicester_players["count"].to_i.times do |i|%>
        <tr>
            <td><%=@leicester_players["players"][i]["name"] %></td>
            <td><%=@leicester_players["players"][i]["position"] %></td>
            <td><%=@leicester_players["players"][i]["jerseyNumber"] %></td>
            <td><%=@leicester_players["players"][i]["dateOfBirth"] %></td>
            <td><%=@leicester_players["players"][i]["nationality"] %></td>
            <td><%=@leicester_players["players"][i]["contractUntil"] %></td>
            <td><%=@leicester_players["players"][i]["marketValue"] %></td>
        </tr>
        <% end %>
    </table>
</div>
<!--This division iterates through the players detail fo Arsenal
football club from the API  -->
<div class="players-detail-arsenal">
    <table>
        <tr>
          <th colspan="7">
            <h3>Arsenal FC Players and their position</h3>
          </th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Jersy Number</th>
            <th>Date of Birth</th>
            <th>Nationality</th>
            <th>Contract Until</th>
            <th>Market Value</th>
        </tr>
        <% @arsenal_players["count"].to_i.times do |i|%>
        <tr>
            <td><%=@arsenal_players["players"][i]["name"] %></td>
            <td><%=@arsenal_players["players"][i]["position"] %></td>
            <td><%=@arsenal_players["players"][i]["jerseyNumber"] %></td>
            <td><%=@arsenal_players["players"][i]["dateOfBirth"] %></td>
            <td><%=@arsenal_players["players"][i]["nationality"] %></td>
            <td><%=@arsenal_players["players"][i]["contractUntil"] %></td>
            <td><%=@arsenal_players["players"][i]["marketValue"] %></td>
        </tr>
        <% end %>
    </table>
</div>

<!--This division iterates through the players detail fo Tottneham hotspur
football club from the API  -->
<div class="players-detail-tottenham">
    <table>
        <tr>
          <th colspan="7">
            <h3>Tottenham Hotspur FC players and their position</h3>
          </th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Jersy Number</th>
            <th>Date of Birth</th>
            <th>Nationality</th>
            <th>Contract Until</th>
            <th>Market Value</th>
        </tr>
        <% @tottenham_players["count"].to_i.times do |i|%>
        <tr>
            <td><%=@tottenham_players["players"][i]["name"] %></td>
            <td><%=@tottenham_players["players"][i]["position"] %></td>
            <td><%=@tottenham_players["players"][i]["jerseyNumber"] %></td>
            <td><%=@tottenham_players["players"][i]["dateOfBirth"] %></td>
            <td><%=@tottenham_players["players"][i]["nationality"] %></td>
            <td><%=@tottenham_players["players"][i]["contractUntil"] %></td>
            <td><%=@tottenham_players["players"][i]["marketValue"] %></td>
        </tr>
        <% end %>
    </table>
</div>
<!--This division iterates through the players detail fo Manchister city
football club from the API  -->
<div class="players-detail-man-city">
    <table>
        <tr>
          <th colspan="7">
            <h3>Manchester city FC players and their position</h3>
          </th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Jersy Number</th>
            <th>Date of Birth</th>
            <th>Nationality</th>
            <th>Contract Until</th>
            <th>Market Value</th>
        </tr>
        <% @man_city_players["count"].to_i.times do |i|%>
        <tr>
            <td><%=@man_city_players["players"][i]["name"] %></td>
            <td><%=@man_city_players["players"][i]["position"] %></td>
            <td><%=@man_city_players["players"][i]["jerseyNumber"] %></td>
            <td><%=@man_city_players["players"][i]["dateOfBirth"] %></td>
            <td><%=@man_city_players["players"][i]["nationality"] %></td>
            <td><%=@man_city_players["players"][i]["contractUntil"] %></td>
            <td><%=@man_city_players["players"][i]["marketValue"] %></td>
        </tr>
        <% end %>
    </table>
</div>

<% end %>
