<!--This table diplays all the contact that are registered under
a specific user and have a functionality of updating and deleting contacts  -->
<h2><%current_user.name%></h2>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<table>
  <tr><th>First name</th><th>Last Name</th>
    <th>Email</th><th>Phone number</th><th>Update Record</th><th>Delete Record</th>
  </tr>
<% @contacts.each do |contact| %>
  <tr>
     <td><%= contact.first_name %></td>
     <td><%= contact.last_name %></td>
     <td><%= contact.email %></td>
     <td><%= contact.phone_mobile %></td>
     <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
     <td><%= link_to "Delete",contact,method: :delete, data: {confirm: 'Are you sure?'} %></td>
   </td>
</tr>
<% end %>
</table>
