<table>
<tr><th>First name</th><th>Last Name</th>
  <th>Email</th><th>Phone mobile</th><th>Phone work</th>
  <th>Street</th><th>City</th><th>Postal code</th>
  <th>State</th><th>Region</th><th>nick name</th>
  <th>Website</th>
</tr>

<tr>
 <td><%= @contact.first_name %></td>
 <td><%= @contact.last_name %></td>
 <td><%= @contact.email %></td>
 <td><%= @contact.phone_mobile %></td>
 <td><%= @contact.phone_work %></td>
 <td><%= @contact.street %></td>
 <td><%= @contact.city %></td>
 <td><%= @contact.zip_postal_code %></td>
 <td><%= @contact.state_province %></td>
 <td><%= @contact.country_region %></td>
 <td><%= @contact.nick_name %></td>
 <td><%= @contact.personal_web_page %></td>
 </td>
</tr>

</table>
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
