<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <%= javascript_include_tag 'application' %>
    </head>
    <body>
        <div id="header">
            <h1>Football</h1>
        </div>
        <nav>
            <ul id="nav">
                <%= button_to "Sing up", new_users_path,:class => "button", :method => :get %>
                <%= button_to "Log in", login_path %>
            </ul>
        </nav>

        <div id="section">
            <%= yield %>
        </div>
    </body>
</html>
