<!DOCTYPE html>
<html>
<!--  -->
    <head>
        <title></title>
        <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <%= javascript_include_tag 'application' %>
    </head>
    <body>
      <!--The header of the website  -->
        <div id="header">
            <h1>Live Soccer </h1>
            <h3>results, fixtures and more </h3>
        </div>
        <!--left navigation bar  -->
        <nav>
            <ul id="nav">
               <%= button_to "Sign up", new_users_path, :class => "button", :method => :get,class: 'btn-signup'  %>
                <!-- <%= button_to "Log in", login_path %>  -->
                <%= button_to "Create New Contact",new_contact_path,:class => "button", :method => :get %>
                <%= button_to "Edit Contact", another_show_path, :class => "button", :method => :get %>
                <%= button_to "Log Out",:controller => 'sessions', :action => 'destroy' %>
                <%= button_to "Home",root_path,:class => "button", :method => :get %>
                <div class="selected-team-leicester">
                    <button id="players-leicester" type="submit">Leicester Players</button>
                </div>
                <div class="selected-team-arsenal">
                    <button id="players-arsenal" type="submit">Arsenal Players</button>
                </div>
                <div class="selected-team-tottenham">
                    <button id="players-tottenham" type="submit">Tottenham Players</button>
                </div>
                <div class="selected-team-city">
                    <button id="players-city" type="submit">Man City Players</button>
                </div>
            </ul>

        </nav>
<!--where the content of all calles and routes appear  -->
        <div id="section">
            <%= yield %>
        </div>
    </body>
</html>
